@charset "UTF-8";
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p {
  margin: 0;
}

ul,
ol {
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

body {
  background: #FFFFFF;
  font-family: Roboto;
}

/* header */
@media (max-width: 767px) {
  .header {
    position: relative;
    background: #ffffff;
  }
  .header-conteiner {
    max-width: 480px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .menu-button {
    width: 40px;
    height: 40px;
    padding: 0;
    border: none;
    background-color: #fff;
  }
  .menu-button.is-open {
    position: fixed;
    top: 0;
    right: 15px;
    z-index: 50;
  }
  .menu-button .icon-cross {
    display: none;
  }
  .menu-button.is-open .icon-cross {
    display: block;
  }
  .menu-button.is-open .icon-menu {
    display: none;
  }
  .mob-menu {
    display: none;
  }
  .mob-menu.is-open {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: fixed;
    top: 0;
    left: 0%;
    z-index: 2;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
    height: 100%;
    padding-top: 48px;
    padding-bottom: 48px;
    padding-left: 20px;
    padding-right: 20px;
    background: #FFFFFF;
    -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.04), 0px 2px 4px rgba(0, 0, 0, 0.08), 0px 1px 3px rgba(0, 0, 0, 0.16);
  }
  .icon-cross .icon-menu {
    fill: black;
    color: black;
  }
  .menu-button:hover, .menu-button:focus {
    color: #2196F3;
  }
  .menu__link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: #2196F3;
    text-decoration: none;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }
  .menu__item + .menu__item {
    margin-left: 10px;
  }
  .menu__list :not(:first-child) {
    padding-left: 10px;
    border-left: 1px solid rgba(33, 33, 33, 0.2);
  }
  .menu__list {
    margin-top: 64px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
  }
  .nav__list,
  .contacts__list {
    display: block;
  }
  /* Логотип */
  .header-logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    letter-spacing: 0.03em;
  }
  .nav__link {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    text-align: center;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #212121;
  }
  .logo-blue {
    color: #2196f3;
  }
  .logo-black {
    color: #212121;
  }
  /* Навигация */
  .nav__list,
  .contacts__list {
    list-style: none;
  }
  .contacts__link {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: #757575;
    -webkit-transition-property: color, -webkit-transform;
    transition-property: color, -webkit-transform;
    transition-property: color, transform;
    transition-property: color, transform, -webkit-transform;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    display: block;
  }
  .contacts {
    display: block;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: auto;
  }
  .contacts__item + .contacts__item {
    margin-top: 32px;
  }
  .nav__item + .nav__item {
    margin-top: 32px;
  }
  .nav__link:hover, .nav__link:focus {
    color: #2196f3;
  }
  .contact__tel {
    left: 24px;
    bottom: 250px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: #2196F3;
  }
  .contacts__link {
    color: #757575;
  }
  .contacts__link:hover, .contacts__link:focus {
    color: #2196f3;
  }
  .nav__portfolio {
    color: #2196f3;
  }
}

/* header */
@media (min-width: 768px) and (max-width: 1199px) {
  .header {
    background: #ffffff;
  }
  .header-conteiner {
    width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .mob-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    margin-left: 88px;
  }
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: auto;
  }
  .menu-link-position {
    margin-left: auto;
  }
  .contacts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 21px;
    padding-bottom: 21px;
  }
  .contacts__item + .contacts__item {
    margin-top: 10px;
  }
  /* Логотип */
  .header-logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    letter-spacing: 0.03em;
    padding-top: 24px;
    padding-bottom: 24px;
  }
  .logo-blue {
    color: #2196f3;
  }
  .logo-black {
    color: #212121;
  }
  /* Навигация */
  .nav__list,
  .contacts__list {
    list-style: none;
  }
  .nav__link,
  .contacts__link {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    -webkit-transition-property: color, -webkit-transform;
    transition-property: color, -webkit-transform;
    transition-property: color, transform;
    transition-property: color, transform, -webkit-transform;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav__item + .nav__item {
    margin-left: 50px;
  }
  .nav__link:hover, .nav__link:focus {
    color: #2196f3;
  }
  .contacts__svg-mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
  }
  .contacts__svg-phone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
  }
  .contacts__link {
    color: #757575;
  }
  .contacts__link:hover, .contacts__link:focus {
    color: #2196f3;
  }
  .nav__portfolio {
    color: #2196f3;
    position: relative;
  }
  .nav__portfolio::after {
    content: " ";
    position: absolute;
    right: 0%;
    bottom: -38px;
    width: 78px;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
  }
}

/* header */
@media (min-width: 1200px) and (max-width: 1920px) {
  .header {
    background: #ffffff;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .header-conteiner {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 0;
    padding-bottom: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    margin-right: auto;
  }
  .mob-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .nav__list,
  .contacts__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
  }
  /* Логотип */
  .header-logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    letter-spacing: 0.03em;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-right: 88px;
  }
  .logo-blue {
    color: #2196f3;
  }
  .logo-black {
    color: #212121;
  }
  /* Навигация */
  .nav__link,
  .contacts__link {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    -webkit-transition-property: color, -webkit-transform;
    transition-property: color, -webkit-transform;
    transition-property: color, transform;
    transition-property: color, transform, -webkit-transform;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .nav__item + .nav__item {
    margin-left: 50px;
  }
  .nav__link {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .nav__link:hover, .nav__link:focus {
    color: #2196f3;
  }
  .contacts__item + .contacts__item {
    margin-left: 30px;
  }
  .contacts__svg-mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
  }
  .contacts__svg-phone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
  }
  .contacts__link {
    color: #757575;
  }
  .contacts__link:hover, .contacts__link:focus {
    color: #2196f3;
  }
  .menu-link-position {
    margin-left: auto;
  }
  .nav__portfolio {
    color: #2196f3;
    position: relative;
  }
  .nav__portfolio::after {
    content: " ";
    position: absolute;
    right: 0%;
    bottom: -40px;
    width: 78px;
    height: 4px;
    background: #2196f3;
    border-radius: 2px;
  }
}

@media (min-width: 1200px) and (max-width: 1920px) and (min-width: 768px) and (max-width: 1920px) {
  .menu-button {
    display: none;
  }
}

/* main section  */
@media (max-width: 767px) {
  .main {
    padding-top: 60px;
    padding-bottom: 60px;
    border: 1px solid #ececec;
  }
  .maine-conteiner {
    min-width: 320px;
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* кнопки */
  .button-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: -15px;
  }
  .button-list__item + .button-list__item {
    margin-left: 8px;
  }
  .button-list__item {
    margin-bottom: 15px;
  }
  .main__button {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 4px;
    border: 0px;
    background: #f5f4fa;
    -webkit-transition-property: background-color, color, -webkit-transform;
    transition-property: background-color, color, -webkit-transform;
    transition-property: background-color, color, transform;
    transition-property: background-color, color, transform, -webkit-transform;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: #212121;
    cursor: pointer;
  }
  .main__button:hover, .main__button:focus {
    background: #2196f3;
    color: #ffffff;
  }
  .button-list__item,
  .maine__item {
    list-style: none;
  }
  /* сетка */
  .maine-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 40px;
  }
  .maine__link {
    text-decoration: none;
  }
  .maine__item {
    display: block;
    max-width: 450px;
    background: #ffffff;
    border: 1px solid #eeeeee;
  }
  .maine__item:hover {
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .maine__item + .maine__item {
    margin-top: 30px;
  }
  .text-card__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    max-width: 402px;
    margin-bottom: 4px;
  }
  .text-card__link {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
    max-width: 402px;
  }
  .text-card {
    max-width: 450px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
  }
  /* выезжающая карточка */
  .box-card {
    position: relative;
    max-width: 450px;
    height: 294px;
    overflow: hidden;
  }
  .box-card:hover .overlay-card {
    -webkit-transform: translatey(0);
            transform: translatey(0);
  }
  .overlay-card {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    -webkit-transform: translatey(100%);
            transform: translatey(100%);
    -webkit-transition: -webkit-transform 250ms ease;
    transition: -webkit-transform 250ms ease;
    transition: transform 250ms ease;
    transition: transform 250ms ease, -webkit-transform 250ms ease;
    padding: 63px 24px;
  }
  .overlay-card__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
}

/* main section  */
@media (min-width: 768px) and (max-width: 1199px) {
  .main {
    padding-top: 60px;
    padding-bottom: 60px;
    border: 1px solid #ececec;
  }
  .maine-conteiner {
    width: 768px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* кнопки */
  .button-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 30px;
  }
  .button-list__item + .button-list__item {
    margin-left: 8px;
  }
  .main__button {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 4px;
    border: 0px;
    background: #f5f4fa;
    -webkit-transition-property: background-color, color, -webkit-transform;
    transition-property: background-color, color, -webkit-transform;
    transition-property: background-color, color, transform;
    transition-property: background-color, color, transform, -webkit-transform;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: #212121;
    cursor: pointer;
  }
  .main__button:hover, .main__button:focus {
    background: #2196f3;
    color: #ffffff;
  }
  .button-list__item,
  .maine__item {
    list-style: none;
  }
  /* сетка */
  .maine-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: -30px;
    margin-right: -32px;
  }
  .maine__item {
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 354px;
    background: #ffffff;
    border: 1px solid #eeeeee;
    margin-right: 30px;
    margin-bottom: 30px;
    -ms-flex-preferred-size: calc(100% / 2 - 30px);
        flex-basis: calc(100% / 2 - 30px);
  }
  .maine__item:hover {
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .text-card__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    width: 306px;
    margin-bottom: 4px;
  }
  .text-card__link {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
    width: 306px;
  }
  .text-card {
    width: 354px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .maine__link {
    text-decoration: none;
  }
  /* выезжающая карточка */
  .box-card {
    position: relative;
    width: 354px;
    height: 294px;
    overflow: hidden;
  }
  .box-card:hover .overlay-card {
    -webkit-transform: translatey(0);
            transform: translatey(0);
  }
  .overlay-card {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    -webkit-transform: translatey(100%);
            transform: translatey(100%);
    -webkit-transition: -webkit-transform 250ms ease;
    transition: -webkit-transform 250ms ease;
    transition: transform 250ms ease;
    transition: transform 250ms ease, -webkit-transform 250ms ease;
    padding: 63px 24px;
  }
  .overlay-card__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
}

/* main section  */
@media (min-width: 1200px) and (max-width: 1920px) {
  .main {
    padding-top: 94px;
    padding-bottom: 94px;
    border: 1px solid #ececec;
  }
  .maine-conteiner {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  /* кнопки */
  .button-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 50px;
  }
  .button-list__item + .button-list__item {
    margin-left: 8px;
  }
  .main__button {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 4px;
    border: 0px;
    background: #f5f4fa;
    -webkit-transition-property: background-color, color, -webkit-transform;
    transition-property: background-color, color, -webkit-transform;
    transition-property: background-color, color, transform;
    transition-property: background-color, color, transform, -webkit-transform;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    color: #212121;
    cursor: pointer;
  }
  .main__button:hover, .main__button:focus {
    background: #2196f3;
    color: #ffffff;
  }
  .button-list__item,
  .maine__item {
    list-style: none;
  }
  /* сетка */
  .maine-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: -30px;
    margin-right: -30px;
    text-decoration: none;
  }
  .maine__item {
    display: block;
    width: 370px;
    background: #ffffff;
    border: 1px solid #eeeeee;
    margin-right: 30px;
    margin-bottom: 30px;
    -ms-flex-preferred-size: calc(100% / 3 - 30px);
        flex-basis: calc(100% / 3 - 30px);
  }
  .maine__item:hover {
    -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
  .text-card__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
    width: 322px;
    margin-bottom: 4px;
  }
  .text-card__link {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
    width: 322px;
  }
  .text-card {
    width: 370px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
  }
  .maine__link {
    text-decoration: none;
  }
  /* выезжающая карточка */
  .box-card {
    position: relative;
    width: 370px;
    height: 294px;
    overflow: hidden;
  }
  .box-card:hover .overlay-card {
    -webkit-transform: translatey(0);
            transform: translatey(0);
  }
  .overlay-card {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    -webkit-transform: translatey(100%);
            transform: translatey(100%);
    -webkit-transition: -webkit-transform 250ms ease;
    transition: -webkit-transform 250ms ease;
    transition: transform 250ms ease;
    transition: transform 250ms ease, -webkit-transform 250ms ease;
    padding: 63px 24px;
  }
  .overlay-card__text {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
}

/* подвал */
@media (min-width: 320px) and (max-width: 767px) {
  .footer {
    background-color: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer-conteiner {
    min-width: 320px;
    max-width: 480px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }
  .footer-box-logo {
    text-decoration: none;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    display: block;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
  }
  .logo-White {
    color: #ffffff;
  }
  .footer-box__address {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    margin-bottom: 9px;
    letter-spacing: 0.03em;
    display: inline;
  }
  .footer-box__actual {
    display: inline;
    color: #ffffff;
    margin-bottom: 8px;
  }
  .footer-box__link {
    display: inline;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
  }
  .social {
    margin-top: 60px;
    margin-bottom: 60px;
  }
  .social__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .social__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    margin-bottom: 20px;
  }
  .social__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 0px;
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    -webkit-transition-property: background-color, -webkit-transform;
    transition-property: background-color, -webkit-transform;
    transition-property: background-color, transform;
    transition-property: background-color, transform, -webkit-transform;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social__link:hover, .social__link:focus {
    background-color: #2196f3;
  }
  .footer-box__mail {
    margin-bottom: 8px;
  }
  .social__item + .social__item {
    margin-left: 10px;
  }
  .social__svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
  }
  .subscription__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .subscription__heading {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    margin-bottom: 20px;
  }
  .subscription__input {
    width: 358px;
    height: 50px;
    background: #2f303a;
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .subscription__input::-webkit-input-placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .subscription__input:-ms-input-placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .subscription__input::-ms-input-placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .subscription__input::placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .subscription__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 200px;
    height: 50px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 28px;
    margin-top: 90px;
    align-items: center;
    background: #2196f3;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0px;
  }
  .subscription__airplaine {
    width: 24px;
    height: 24px;
  }
  .subscription__button-text {
    margin-right: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: #ffffff;
  }
}

/* подвал */
@media (min-width: 768px) and (max-width: 1199px) {
  .footer {
    background-color: #2f303a;
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer-conteiner {
    width: 768px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer-box {
    text-align: center;
    -ms-flex-preferred-size: calc(50%);
        flex-basis: calc(50%);
  }
  .footer-box-logo {
    text-decoration: none;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    display: block;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
  }
  .logo-White {
    color: #ffffff;
  }
  .footer-box__address {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    margin-bottom: 9px;
    letter-spacing: 0.03em;
    display: inline;
  }
  .footer-box__actual {
    display: inline;
    color: #ffffff;
    margin-bottom: 9px;
  }
  .footer-box__link {
    display: inline;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
  }
  .social {
    -ms-flex-preferred-size: calc(50%);
        flex-basis: calc(50%);
  }
  .social__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    list-style: none;
  }
  .social__title {
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    margin-bottom: 20px;
  }
  .social__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 0px;
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    -webkit-transition-property: background-color, -webkit-transform;
    transition-property: background-color, -webkit-transform;
    transition-property: background-color, transform;
    transition-property: background-color, transform, -webkit-transform;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social__link:hover, .social__link:focus {
    background-color: #2196f3;
  }
  .footer-box__mail {
    margin-bottom: 9px;
  }
  .social__item + .social__item {
    margin-left: 10px;
  }
  .social__svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
  }
  .subscription {
    -ms-flex-preferred-size: calc(100%);
        flex-basis: calc(100%);
    margin-top: 60px;
    text-align: center;
  }
  .subscription__heading {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    margin-bottom: 20px;
  }
  .subscription__input {
    width: 358px;
    height: 50px;
    background: #2f303a;
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .subscription__input::-webkit-input-placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .subscription__input:-ms-input-placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .subscription__input::-ms-input-placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .subscription__input::placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .subscription__button {
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 28px;
    background: #2196f3;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0px;
  }
  .subscription__airplaine {
    width: 24px;
    height: 24px;
  }
  .subscription__button-text {
    margin-right: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: #ffffff;
  }
}

/* подвал */
@media (min-width: 1200px) and (max-width: 1920px) {
  .footer {
    background-color: #2f303a;
  }
  .footer-conteiner {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .footer-box {
    padding-top: 60px;
    padding-bottom: 60px;
  }
  .footer-box-logo {
    text-decoration: none;
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 31px;
    display: block;
    letter-spacing: 0.03em;
    margin-bottom: 20px;
  }
  .logo-White {
    color: #ffffff;
  }
  .footer-box__address {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    margin-bottom: 9px;
    letter-spacing: 0.03em;
    display: inline;
  }
  .footer-box__actual {
    display: inline;
    color: #ffffff;
    margin-bottom: 9px;
  }
  .footer-box__link {
    display: inline;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
  }
  .social {
    margin-left: 70px;
    padding-top: 70px;
    padding-bottom: 97px;
    margin-bottom: 9px;
  }
  .social__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
  }
  .social__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    margin-bottom: 20px;
  }
  .social__link {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    border: 0px;
    background: rgba(255, 255, 255, 0.1);
    color: #ffffff;
    -webkit-transition-property: background-color, -webkit-transform;
    transition-property: background-color, -webkit-transform;
    transition-property: background-color, transform;
    transition-property: background-color, transform, -webkit-transform;
    -webkit-transition-duration: 250ms;
            transition-duration: 250ms;
    -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
            transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }
  .social__link:hover, .social__link:focus {
    background-color: #2196f3;
  }
  .footer-box__mail {
    margin-bottom: 9px;
  }
  .social__item + .social__item {
    margin-left: 10px;
  }
  .social__svg {
    width: 20px;
    height: 20px;
    fill: currentColor;
  }
  .subscription {
    margin-left: 93px;
    padding-top: 72px;
    padding-bottom: 94px;
  }
  .subscription__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .subscription__heading {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    margin-bottom: 20px;
  }
  .subscription__input {
    width: 358px;
    height: 50px;
    background: #2f303a;
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
            filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .subscription__input::-webkit-input-placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .subscription__input:-ms-input-placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .subscription__input::-ms-input-placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .subscription__input::placeholder {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
  }
  .subscription__button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin-left: 12px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 24px;
    padding-right: 28px;
    align-items: center;
    background: #2196f3;
    -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0px;
  }
  .subscription__airplaine {
    width: 24px;
    height: 24px;
  }
  .subscription__button-text {
    margin-right: 10px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;
    color: #ffffff;
  }
}

@media (max-width: 1199px) {
  .our-work-section {
    display: none;
  }
}

@media (max-width: 767px) {
  .contacts__svg-mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
    display: none;
  }
  .contacts__svg-phone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
    display: none;
  }
}

@media (min-width: 767px) and (max-width: 1920px) {
  .menu__item {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1920px) {
  .menu-button {
    display: none;
  }
}
/*# sourceMappingURL=portfolio.css.map */