/* header */
@media (min-width: 1200px) and (max-width: 1920px) {
    .header {
      background: #ffffff;
      padding-top: 32px;
      padding-bottom: 32px;
    }
    .header-conteiner {
      width: 1200px;
      padding-left: 15px;
      padding-right: 15px;
     padding-top: 0;
     padding-bottom: 0;
      display: flex;
      align-items: center;
      margin-left: auto;
      margin-right: auto;
    }
    .mob-menu {
      display: flex;
      width: 100%;
     }
    .nav__list,
    .contacts__list {
      display: flex;
      list-style: none;
    }
  
     
     
     
    /* Логотип */
    .header-logo {
      font-family: Raleway;
      font-style: normal;
      font-weight: bold;
      font-size: 26px;
      line-height: 1.19;
      text-decoration: none;
      letter-spacing: 0.03em;
      padding-top: 0px;
      padding-bottom: 0px;
      margin-right: 88px;
    }
  
    .logo-blue {
      color: #2196f3;
    }
    .logo-black {
      color: #212121;
    }
    /* Навигация */
   
    .nav__link,
    .contacts__link {
      text-decoration: none;
      font-family: Roboto;
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.02em;
      color: #212121;
      transition-property: color, transform;
      transition-duration: 250ms;
      transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
  
    .nav__item + .nav__item {
      margin-left: 50px;
    }
    .nav__link {
      padding-top: 0px;
      padding-bottom: 0px;
      &:hover,
      &:focus {
        color: #2196f3;
      }
    }
   
  
    .contacts__item + .contacts__item {
      margin-left: 30px;
    }
  
    .contacts__svg-mail {
      width: 16px;
      height: 12px;
      margin-right: 10px;
      fill: currentColor;
    }
  
    .contacts__svg-phone {
      width: 10px;
      height: 16px;
      margin-right: 10px;
      fill: currentColor;
    }
  
    .contacts__link {
      color: #757575;
      &:hover,
      &:focus {
        color: #2196f3;
      }
    }
    .menu-link-position{
      margin-left: auto;
    }
  
      .nav__portfolio {
        color: #2196f3;
        position: relative;
        &::after {
        content: " ";
        position: absolute;
        right: 0%;
        bottom: -40px;
        width: 78px;
        height: 4px;
        background: #2196f3;
        border-radius: 2px;}
  }
  @media (min-width: 768px) and (max-width: 1920px) { .menu-button{
    display: none;
  }}}