/* секция 2 */
@media (max-width: 767px) {
  .section-description {
    padding-top: 60px;
    padding-bottom: 60px;

    background: #ffffff;
  }
  .description {
    min-height: 320px;
    max-width: 480px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }

  .description__list {
    list-style: none;
    display: flex;
    flex-direction: column;
  }
  .description__item {
   max-width: 450px;
  }
  .description__list :not(:last-child) {
    margin-bottom: 30px;
  }

  .description-box {
   max-width: 450px;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;

    background: #f5f4fa;
    border-radius: 4px;
    margin-bottom: 30px;
  }
  .description-box__svg {
    width: 70px;
    height: 70px;
  }

  .description__title {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color: #212121;
    text-align: center;
    margin-bottom: 10px;
  }

  .description__text {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
  }
}
