/* header */
@media (min-width: 768px) and (max-width: 1199px) {
  .header {
    background: #ffffff;
  }
  .header-conteiner {
    
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .mob-menu {
    display: flex;

    margin-left: 88px;
  }

  .nav__list {
    display: flex;
    padding-top: 32px;
    padding-bottom: 32px;
    margin-left: auto;
  }

  .contacts {
    display: flex;
    flex-direction: column;
    margin-left: auto;
    padding-top: 21px;
    padding-bottom: 21px;
    margin-left: auto;
  }
  .contacts__item + .contacts__item {
    margin-top: 10px;
  }

  /* Логотип */
  .header-logo {
    font-family: Raleway;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    text-decoration: none;
    letter-spacing: 0.03em;
    padding-top: 24px;
    padding-bottom: 25px;
  }

  .logo-blue {
    color: #2196f3;
  }
  .logo-black {
    color: #212121;
  }
  /* Навигация */
  .nav__list,
  .contacts__list {
    list-style: none;
  }
  .nav__link,
  .contacts__link {
    text-decoration: none;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    transition-property: color, transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav__item {
    & + & {
      margin-left: 50px;
    }
  }
  .nav__link {
    &:hover,
    &:focus {
      color: #2196f3;
    }
  }

  .contacts__svg-mail {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
  }

  .contacts__svg-phone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
  }

  .contacts__link {
    color: #757575;
    &:hover,
    &:focus {
      color: #2196f3;
    }
  }

  .nav__studio {
    color: #2196f3;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      right: 0%;
      bottom: -42px;

      width: 48px;
      height: 4px;
      border-radius: 2px;
      background-color: #2196f3;
    }
  }
}
