
  
 $primary-text-color: #757575;
  $title-text-color: #212121;
  $secondary-text-color: #ffffff;
  
  $white-background:#FFFFFF;
  
  $sekondary-background: #2f303a;
  $additional-background: #f5f4fa;
  

  $blue-color :#2196F3;
  $white-color:#ffffff
